body { background: #5825db; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-helper-0 { color: #d55a01; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #4bb0eb; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #155e76; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #3b0b4; font-size: 17px; margin-bottom: 5px; }
.block-product-4 { color: #64133f; font-size: 15px; margin-bottom: 5px; }